<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body})}">
<body>
<div class="row">
    <div class="col-md-6" th:each="req : ${requests}">
        <div class="card" th:classappend="${req.handled} ? 'handled' : 'new'">
            <div class="card-body">
                <h5 class="card-title">
                    <span th:if="${!req.handled}" class="text-danger fw-bold"><b>*New</b></span>
                    Request from <span th:text="${req.userName}">Name</span>
                </h5>
                <p>Course: <strong th:text="${req.courseName}"></strong></p>
                <p th:text="${req.commentary}"></p>
                <p>Тел: <span th:text="${req.phone}"></span></p>
                <a th:href="@{'/' + ${req.id}}" class="btn btn-link"><Details></Details></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
